extends ../layouts/dashboard
block content
	h4 Restaurant Information
	
	br

	form.col.s12(class='formValidate' id='form' method='post' novalidate='novalidate')
		.row
			.input-field.col.s12
				input(placeholder='Restaurant Name' id='name' name='name' type='text' class='validate' required='' data-error='.errorTxt1')
				label(for='name' class='active') Restaurant Name
				
		#error-row.row
			p.center(style='color: red;' id='error')
			
		.row
			br
			
			.col.s12
				label Restaurant About Us
				textarea(type='date' id='about' name='about' required='' data-error='.errorTxt3' class='materialize-textarea' length='1500')
				
		.row
			br
			.input-field.col.s4
				input(placeholder='Instagram' id='instagram' name='instagram' type='url' class='validate' required='' data-error='.errorTxt6')
				label(for='instagram' class='active') Instagram
				
			.input-field.col.s4
				input(placeholder='Facebook' id='facebook' name='facebook' type='text' class='validate' required='' data-error='.errorTxt6')
				label(for='facebook' class='active') Facebook
				
			.input-field.col.s4
				input(placeholder='Twitter' id='twitter' name='twitter' type='text' class='validate' required='' data-error='.errorTxt6')
				label(for='twitter' class='active') Twitter
				
		.row
			br
			.input-field.col.s6
				input(placeholder='Youtube' id='youtube' name='youtube' type='url' class='validate' required='' data-error='.errorTxt6')
				label(for='youtube' class='active') YouTube

			.input-field.col.s6
				input(placeholder='Google+' id='google_plus' name='google_plus' type='text' class='validate' required='' data-error='.errorTxt6')
				label(for='google_plus' class='active') Google+
				

		.row
			br
			.input-field.col.s12
				input(placeholder='Website' id='website' name='website' type='text' class='validate' required='' length='5' data-error='.errorTxt6')
				label(for='website' class='active') Website
				
		.row
			.input-field.col.s12
				button.buttonload.btn.waves-effect.waves-light.col.s12(type='submit' name='submit' id='submit')
					i.fa.fa-spinner.fa-spin(id='spinner')
					| Loading
				

	script.
		$(window).load(function () {
			$('#error-row').hide();
			$('#spinner').hide();
			$('#buttonText').show();
		});

		$(document).ajaxStart(function () {
			$('#spinner').show();
			$('#buttonText').hide();
		});

		$(document).ajaxComplete(function () {
			$('#spinner').hide();
			$('#buttonText').show();
		});

		$(function () {
			$('#form').submit(function (e) {
				e.preventDefault();

				var data = {
					name: $('input[name=name]').val(),
					about: $('input[name=about]').val(),
					twitter: $('input[name=twitter]').val(),
					facebook: $('input[name=facebook]').val(),
					google: $('input[name=google_plus]').val(),
					youtube: $('input[name=youtube]').val(),
					website: $('input[name=website]').val()
				}

				$.ajax({
					data,
					type: 'PUT',
					url: '/control_panel/api/restaurant-info',
					success: function (data) {
						if (data.success == false) {
							console.log(data);
							$('#error-row').show();
							$('#error').text(data.error);
						} else {
							window.location.href = '/control_panel'
						}
					}
				});
			})
		});
			
					
