doctype html
html
	include ../includes/head
	link(href='/css/layouts/page-center.css', type='text/css', rel='stylesheet', media='screen,projection')
	
	body.cyan
		block content
		include ../includes/foot
