doctype html
html
	include ../includes/head
	body.loded
		header#header.page-topbar
			.navbar-fixed
				nav.navbar-color
					.nav-wrapper
						ul.left
							li
								h1.logo-wrapper
									a.brand-logo.darken-1(href='index.html')
										img(src='images/materialize-logo.png', alt='materialize logo')
									|
									span.logo-text Materialize
						
						ul.right.hide-on-med-and-down
							li
								a.waves-effect.waves-block.waves-light.translation-button(href='javascript:void(0);', data-activates='translation-dropdown')
									img(src='images/flag-icons/United-States.png', alt='USA')
								ul#translation-dropdown.dropdown-content
									li
										a(href='/control_panel/languages/english')
											img(src='images/flag-icons/United-States.png', alt='English')
											|
											span.language-select  English
											
										a(href='/control_panel/languages/switzerland')
											img(src='images/flag-icons/Switzerland.png', alt='English')
											|
											span.language-select  Switzerland	
							li
								a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
									i.mdi-action-settings-overscan
							li
								a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
									i.mdi-social-notifications
										small.notification-badge 5
								ul#notifications-dropdown.dropdown-content
									li
										h5
											| NOTIFICATIONS
											span.new.badge 5
									li.divider
									li
										a(href='#!')
											i.mdi-action-add-shopping-cart
											|  A new order has been placed!
										|
										time.media-meta(datetime='2015-06-12T20:50:48+08:00') 2 hours ago
									li
										a(href='#!')
											i.mdi-action-stars
											|  Completed the task
										|
										time.media-meta(datetime='2015-06-12T20:50:48+08:00') 3 days ago
									li
										a(href='#!')
											i.mdi-action-settings
											|  Settings updated
										|
										time.media-meta(datetime='2015-06-12T20:50:48+08:00') 4 days ago
									li
										a(href='#!')
											i.mdi-editor-insert-invitation
											|  Director meeting started
										|
										time.media-meta(datetime='2015-06-12T20:50:48+08:00') 6 days ago
									li
										a(href='#!')
											i.mdi-action-trending-up
											|  Generate monthly report
										|
										time.media-meta(datetime='2015-06-12T20:50:48+08:00') 1 week ago
							li
								a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
									i.mdi-communication-chat
		div#main
			div.wrapper
				include ../includes/menu
				section#content
					#breadcrumbs-wrapper
						div.container
							div.row
								div.col.s12.m12.l12
									h5.breadcrumbs-title=name
									ol.breadcrumbs
										li: a(href="#") #{name}
					div.container
						div#section
							block content
		include ../includes/foot
