script(type='text/javascript', src='/js/materialize.js')
script(type='text/javascript', src='/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
script(type='text/javascript', src='/js/plugins/chartist-js/chartist.min.js')
script(type='text/javascript', src='/js/plugins.js')
script(type='text/javascript', src='/js/custom-script.js')
script(type='text/javascript', src='/js/client.js')
script(type='text/javascript', src='/js/voucher-codes.js')
