head
	meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user.js-scalable=no')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='msapplication-tap-highlight', content='no')
	meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
	meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template,')
	meta(name='msapplication-TileColor', content='#00bcd4')
	meta(name='msapplication-TileImage', content='/images/favicon/mstile-144x144.png')

	title Your Resteraunt App

	link(rel='icon' href='images/favicon/favicon-32x32.png' sizes='32x32')
	link(rel='apple-touch-icon-precomposed', href='/images/favicon/apple-touch-icon-152x152.png')
	link(href='/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
	link(href='/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
	link(href='/css/custom/custom.css', type='text/css', rel='stylesheet', media='screen,projection')
	script(src='/js/plugins/jquery-1.11.2.min.js')
	link(href='/js/plugins/prism/prism.css', type='text/css', rel='stylesheet', media='screen,projection')
	link(href='/js/plugins/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet', media='screen,projection')
	link(href='/js/plugins/chartist-js/chartist.min.css', type='text/css', rel='stylesheet', media='screen,projection')
	link(href='/css/loader.css', type='text/css', rel='stylesheet', media='screen,projection')
	link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css', rel='stylesheet', media='screen,projection')
	script(src='/js/pace.js')
